 Veil-Framework configuration:

 [*] OPERATING_SYSTEM = Linux
 [*] TERMINAL_CLEAR = clear
 [*] WINEPREFIX = /root/.config/wine/veil/
 [*] TEMP_DIR = /tmp/
 [*] MSFVENOM_OPTIONS = 
 [*] METASPLOIT_PATH = /usr/share/metasploit-framework/
 [*] MSFVENOM_PATH = /usr/bin/
 [*] PYINSTALLER_PATH = /opt/veil/PyInstaller-3.2.1/

 [*] VEIL_EVASION_PATH = /opt/Veil/
 [*] PAYLOAD_SOURCE_PATH = /usr/share/veil-output/source/
 [*] Path '/usr/share/veil-output/source/' Created
 [*] PAYLOAD_COMPILED_PATH = /usr/share/veil-output/compiled/
 [*] Path '/usr/share/veil-output/compiled/' Created
 [*] Path '/usr/share/veil-output/handlers/' Created
 [*] GENERATE_HANDLER_SCRIPT = True
 [*] HANDLER_PATH = /usr/share/veil-output/handlers/
 [*] HASH_LIST = /usr/share/veil-output/hashes.txt

 [*] VEIL_CATAPULT_PATH = /opt/Veil-Catapult/
 [*] Path '/usr/share/veil-output/catapult/' Created
 [*] CATAPULT_RESOURCE_PATH = /usr/share/veil-output/catapult/

 [*] Path '/etc/veil/' Created
 Configuration File Written To '/etc/veil/settings.py'


 [*] Ensuring this account (root) owns veil output directory (/usr/share/veil-output)...
 [*] Ensuring this account (root) has correct ownership of /root/.config/wine/veil

 [I] If you have any errors running Veil-Evasion, delete the Veil Wine profile ('rm -rf /root/.config/wine/veil') and re-run: '/opt/Veil/setup/setup.sh -c'


 [I] Done!
